@use "../../utilities/mixins";

.navbar__logo {
  height: 2.8125rem;
}

.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navbar__top-row {
  background-color: var(--neutral-50);
}

.navbar__top-row--dark {
  background-color: var(--neutral-800);
}

.navbar__top-row,
.navbar__bottom-row {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__bottom-row {
  background-color: var(--primary-700);
  flex-wrap: wrap;
}

.navbar__bottom-row--dark {
  background-color: var(--neutral-900);
}

.navbar__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__links,
.navbar__dropdown-menu {
  list-style-type: none;
}

.navbar__link,
.navbar__search-link {
  display: inline-block;
  list-style-type: none;
  @include mixins.transition;
}

.navbar__link {
  color: var(--primary-800);
}

.navbar__link--dark {
  color: var(--secondary-50);
}

.navbar__search-link {
  color: var(--secondary-50);
}

.navbar__link:hover {
  color: var(--neutral-900);
  text-decoration: underline;
}

.navbar__link--dark:hover {
  color: var(--neutral-500);
  text-decoration: underline;
}

.navbar__search-link:hover {
  color: var(--secondary-400);
  text-decoration: underline;
}

.navbar__home {
  display: flex;
  align-items: center;
  justify-content: start;
}

.navbar__home h1 {
  color: var(--primary-800);
}

.navbar__home--dark h1 {
  color: var(--secondary-50);
}

.navbar__link-icon {
  margin-right: 0.5rem;
}

.navbar__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__dark-mode-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.25rem;
  height: 2.5rem;
  background-color: var(--switch-bg);
  border-radius: 1.5625rem;
  cursor: pointer;
  position: relative;
  margin-left: 1rem;
  margin-right: 0.5rem;
  border: 0.25rem solid var(--neutral-900);
}

.navbar__dark-mode-switch .navbar__switch {
  position: absolute;
  width: 1.75rem;
  height: 1.75rem;
  background-color: var(--switch-circle);
  border-radius: 50%;
  @include mixins.transition;
  transform: translateX(-0.625rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__dark-mode-switch .navbar__switch--dark {
  transform: translateX(0.625rem);
  background-color: var(--switch-circle-dark);
}

.navbar__dark-mode-switch .navbar__switch {
  font-size: 1rem;
  color: var(--switch-icon);
  display: flex;
  align-self: center;
  justify-content: center;
}

.navbar__dark-mode-switch .navbar__switch--dark {
  color: var(--switch-icon-dark);
}

.navbar__dropdown {
  position: relative;
}

.navbar__dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: var(--primary-700);
  padding: 0.5rem 0;
  box-shadow: 0 0.25rem 0.3125rem rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  z-index: 1000;
  min-width: 9.375rem;
}

.navbar__dropdown-menu--dark {
  background-color: var(--neutral-900);
}

.navbar__dropdown:hover .navbar__dropdown-menu {
  display: block;
}

.navbar__dropdown-menu a {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--secondary-50);
  font-family: var(--heading-font-family);
  @include mixins.transition;
}

.navbar__dropdown-menu a:hover {
  background-color: var(--secondary-500);
  color: var(--neutral-900);
}

.navbar__hidden {
  display: none;
}

@media (max-width: 1050px) {
  .navbar__links .navbar__search-link {
    margin-right: 1rem;
  }

  .navbar__links .navbar__link {
    margin-left: 0.5rem;
  }

  .navbar__link {
    color: var(--secondary-50);
  }

  .navbar__nav {
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
  }

  .navbar__links .navbar__link {
    @include mixins.font(
      --font-size-subtitle-mobile,
      --font-weight-subtitle-mobile
    );
  }

  .navbar__links .navbar__search-link {
    @include mixins.font(--font-size-menu-mobile, --font-weight-menu-mobile);
  }

  .navbar__home h1 {
    margin-left: 0.5rem;
    @include mixins.font(--font-size-title-mobile, --font-weight-title-mobile);
  }

  .navbar__search {
    width: 100%;
    margin-top: 1rem;
  }

  .navbar__dark-mode-toggle {
    margin-right: 1rem;
    @include mixins.font(
      --font-size-subtitle-mobile,
      --font-weight-subtitle-mobile
    );
    cursor: pointer;
  }

  .navbar__dropdown-menu a {
    @include mixins.font(
      --font-size-normal-mobile,
      --font-weight-normal-mobile
    );
  }
}

@media (min-width: 1051px) {
  .navbar__links .navbar__search-link {
    margin-right: 2rem;
  }

  .navbar__links .navbar__link {
    margin-left: 2rem;
  }

  .navbar__links .navbar__link {
    @include mixins.font(
      --font-size-subtitle-desktop,
      --font-weight-subtitle-desktop
    );
  }

  .navbar__links .navbar__search-link {
    @include mixins.font(--font-size-menu-desktop, --font-weight-menu-desktop);
  }

  .navbar__home h1 {
    margin-left: 1rem;
    @include mixins.font(
      --font-size-title-desktop,
      --font-weight-title-desktop
    );
  }

  .navbar__dark-mode-toggle {
    margin-right: 2rem;
    @include mixins.font(
      --font-size-subtitle-desktop,
      --font-weight-subtitle-desktop
    );
    cursor: pointer;
  }

  .navbar__dropdown-menu a {
    @include mixins.font(
      --font-size-big-normal-desktop,
      --font-weight-big-normal-desktop
    );
  }
}
