@use "../../utilities/mixins";

.search-container {
  display: flex;
  align-items: center;
  height: 3.125rem;
}

.search-bar {
  width: 22.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: var(--primary-800);
  background-color: var(--secondary-50);
  border: 0.1875rem solid var(--neutral-900);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0.0625rem 0.25rem 0.3125rem 0.25rem var(--secondary-500);
  @include mixins.transition;
}

.search-bar--dark {
  color: var(--secondary-50);
  background-color: var(--neutral-900);
  border-color: #000000;
}

.search-bar__input {
  color: var(--primary-800);
  background-color: var(--secondary-50);
  @include mixins.transition;
  border: none;
}

.search-bar__input--dark {
  color: var(--secondary-50);
  background-color: var(--neutral-900);
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__icon {
  cursor: pointer;
}

.search-bar__placeholder {
  color: var(--primary-400);
}

@media (max-width: 1050px) {
  .search-container {
    margin-top: 1rem;
  }

  .search-bar__input {
    width: 10.45rem;
    font-size: var(--font-size-normal-mobile);
  }

  .search-bar {
    width: 13.375rem;
  }
}

@media (min-width: 1051px) {
  .search-bar__input {
    width: 18.75rem;
    font-size: var(--font-size-normal-desktop);
  }
}
