.heading {
  color: var(--primary-800);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  border-bottom: 0.15rem solid var(--primary-800);
}

.heading--dark {
  color: var(--secondary-50);
  border-bottom: 0.15rem solid var(--secondary-50);
}

.heading__more {
  color: var(--primary-800);
  padding: 0 1rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.heading__more:hover {
  color: var(--neutral-900);
}

.heading--dark .heading__more {
  color: var(--secondary-50);
}

.heading--dark .heading__more:hover {
  color: var(--neutral-500);
}

.heading__deploy-button {
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.heading__deploy-button:hover {
  color: var(--neutral-900);
}

@media (max-width: 950px) {
  .heading-subtitle,
  .heading-subtitle .heading__deploy-button {
    font-size: var(--font-size-subtitle-mobile);
  }

  .heading-subtitle {
    font-weight: var(--font-weight-subtitle-mobile);
  }

  .heading-menu,
  .heading-menu .heading__deploy-button {
    font-size: var(--font-size-menu-mobile);
  }

  .heading-menu {
    font-weight: var(--font-weight-menu-mobile);
  }
}

@media (min-width: 951px) {
  .heading-subtitle,
  .heading-subtitle .heading__deploy-button {
    font-size: var(--font-size-subtitle-desktop);
  }

  .heading-subtitle {
    font-weight: var(--font-weight-subtitle-desktop);
  }

  .heading-menu,
  .heading-menu .heading__deploy-button {
    font-size: var(--font-size-menu-desktop);
  }

  .heading-menu {
    font-weight: var(--font-weight-menu-desktop);
  }
}
