@use "../../utilities/mixins";

.rating-container {
  display: flexbox;
  justify-content: space-between;
  margin-top: 0.3125rem;
}

.rating-container__star {
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.875rem;
  color: #ccc;
  cursor: pointer;
  @include mixins.transition;
}

.rating-container__star--filled {
  color: gold;
}

.rating-container__star--hovered {
  color: #ffdf00;
}

.rating-container--dark .rating-container__star {
  color: #888;
}

.rating-container--dark .rating-container__star--filled {
  color: #ffdf00;
}

.rating-container--dark .rating-container__star--hovered {
  color: #ffd700;
}
