.button {
  width: 50%;
  padding: 0.625rem 1.25rem;
  font-size: var(--font-size-subtitle-desktop);
  font-weight: var(--font-weight-subtitle-desktop);
  font-family: var(--heading-font-family);
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease;
}

.button--primary {
  background-color: var(--secondary-50);
  color: var(--primary-800);
  box-shadow: 0.0625rem 0.125rem 0.3125rem 0.3125rem var(--primary-800);
}

.button--primary:hover {
  background-color: var(--primary-800);
  color: var(--secondary-50);
  box-shadow: 0.0625rem 0.125rem 0.3125rem 0.3125rem var(--secondary-500);
}

.button--secondary {
  background-color: var(--primary-800);
  color: var(--secondary-50);
  box-shadow: 0.0625rem 0.125rem 0.3125rem 0.3125rem var(--secondary-500);
}

.button--secondary:hover {
  background-color: var(--secondary-50);
  color: var(--primary-800);
  box-shadow: 0.0625rem 0.125rem 0.3125rem 0.3125rem var(--primary-800);
}

@media (max-width: 1023px) {
  .button {
    font-size: var(--font-size-subtitle-mobile);
  }
}
