.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem;
}

.carousel-track {
  display: flex;
  gap: 1rem;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--primary-500);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:hover {
  background: var(--primary-700);
}
