.rating-container {
  display: flexbox;
  justify-content: space-between;
  margin-top: 0.3125rem;
}

.star {
  font-size: 1.875rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s ease;
}

.star.filled {
  color: gold;
}

.star.hovered {
  color: #ffdf00;
}

.rating-dark .star {
  color: #888;
}

.rating-dark .star.filled {
  color: #ffdf00;
}

.rating-dark .star.hovered {
  color: #ffd700;
}
