@keyframes opacity0to1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes complex-move {
  0% {
    transform: rotate(25deg);
  }
  20% {
    transform: rotate(-25deg);
  }
  40% {
    transform: rotate(25deg);
  }
  60% {
    transform: rotate(-25deg);
  }
  80% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Sin rotación */
  }
  100% {
    transform: rotate(360deg); /* Rotación completa */
  }
}
