@use "../utilities/mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--normal-text-font-family);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.link-text,
.navbar__search-link,
.search-bar__input,
.list_link,
.dropdown__select {
  font-family: var(--heading-font-family);
}

html {
  @include mixins.transition;
}

html.dark {
  background-color: var(--neutral-800);
  color: var(--neutral-50);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  color: var(--primary-800);
  font-size: var(--font-size-big-normal-desktop);
  font-weight: var(--font-weight-big-normal-desktop);
}

.loading--dark {
  color: var(--secondary-50);
}

.spinner {
  border: 0.5rem solid rgba(0, 0, 0, 0.1); /* Borde ligero */
  border-top: 0.5rem solid var(--primary-50); /* Color del borde superior */
  border-radius: 50%; /* Forma circular */
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite; /* Animación de rotación */
}

@media (max-width: 1050px) {
  .login-main {
    min-height: 82.3vh;
  }
}

@media (min-width: 1051px) {
  .login-main {
    min-height: 81.1vh;
  }
}

@media (min-width: 1921px) {
  .login-main {
    min-height: 84.45vh;
  }
}
