.home-main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("./../assets/home.jpg");
  background-size: cover;
  background-position: center;
}

.main-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro-title {
  margin-bottom: 3rem;
  color: var(--secondary-50);
  animation: opacity0to1 1s ease-in-out;
}

.intro-buttons {
  width: 100%;
  display: flex;
  gap: 3rem;
  animation: opacity0to1 1s ease-in-out;
}

@media (max-width: 1050px) {
  .main-intro {
    width: 80vw;
  }

  .home-main {
    height: 35vh;
  }
}

@media (max-width: 1000px) {
  .intro-title {
    font-size: var(--font-size-title-mobile);
    font-weight: var(--font-weight-title-mobile);
  }
}

@media (min-width: 1051px) {
  .main-intro {
    width: 35vw;
  }

  .home-main {
    height: 55vh;
  }
}

@media (min-width: 1101px) {
  .intro-title {
    font-size: var(--font-size-title-desktop);
    font-weight: var(--font-weight-title-desktop);
  }
}
