.dropdown {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.dropdown__select {
  margin-right: 1.25rem;
  padding: 0.5rem;
  color: var(--primary-800);
  background-color: var(--secondary-50);
  border: 0.1875rem solid var(--neutral-900);
  border-radius: 0.5rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 100%;
  box-shadow: 0.0625rem 0.25rem 0.3125rem 0.25rem var(--secondary-500);
  transition: all 0.3s ease;
}

.dropdown__select--dark {
  background-color: var(--neutral-900);
  color: var(--secondary-50);
  border: 0.1875rem solid #000000;
}

.dropdown__select:focus {
  outline: none;
}

.dropdown__select:hover {
  cursor: pointer;
}

.dropdown__icon {
  position: absolute;
  top: 50%;
  right: 2.25rem;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--primary-800);
}

.dropdown__icon--dark {
  color: var(--secondary-50);
}

.dropdown__option {
  font-family: var(--heading-font-family);
}

@media (max-width: 950px) {
  .dropdown__select {
    width: 9.375rem;
    font-size: var(--font-size-normal-mobile);
    font-weight: var(--font-weight-normal-mobile);
  }

  .dropdown__icon {
    font-size: var(--font-size-normal-mobile);
  }
}

@media (min-width: 951px) {
  .dropdown__select {
    width: 11.25rem;
    font-size: var(--font-size-big-normal-desktop);
    font-weight: var(--font-weight-big-normal-desktop);
  }

  .dropdown__icon {
    font-size: var(--font-size-big-normal-desktop);
  }
}
