.footer {
  width: 100%;
  background-color: var(--primary-700);
  color: var(--neutral-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer--login {
  position: fixed;
  bottom: 0;
}

.footer__section,
.footer__nav {
  padding: 0.875rem 1.6875rem;
  font-family: var(--heading-font-family);
}

.footer__credits a,
.footer__contact {
  color: var(--neutral-100);
  font-family: var(--heading-font-family);
  transition: all 1000ms;
}

.footer__contact {
  display: flex;
  align-items: center;
}

.footer__contact span {
  font-family: var(--heading-font-family);
}

.footer__credits a {
  text-decoration: underline;
}

.footer__credits a:hover,
.footer__contact:hover {
  color: var(--secondary-100);
  text-decoration: underline;
}

.footer a i {
  margin-right: 0.5rem;
}

@media (max-width: 950px) {
  .footer {
    font-size: var(--font-size-subtitle-mobile);
  }

  .footer__contact span {
    display: none;
  }
}

@media (min-width: 951px) {
  .footer {
    font-size: var(--font-size-subtitle-desktop);
  }
}
