footer {
  width: 100%;
  background-color: var(--primary-700);
  color: var(--neutral-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-login {
  position: fixed;
  bottom: 0;
}

footer section,
footer nav {
  padding: 0.875rem 1.6875rem;
  font-family: var(--heading-font-family);
}

footer .credits a,
footer .contact {
  color: var(--neutral-100);
  font-family: var(--heading-font-family);
  transition: all 1000ms;
}

footer .contact {
  display: flex;
  align-items: center;
}

footer .contact span {
  font-family: var(--heading-font-family);
}

footer .credits a {
  text-decoration: underline;
}

footer .credits a:hover,
footer .contact:hover {
  color: var(--secondary-100);
  text-decoration: underline;
}

footer a i {
  margin-right: 0.5rem;
}

@media (max-width: 1023px) {
  footer {
    font-size: var(--font-size-subtitle-mobile);
  }

  footer .contact span {
    display: none;
  }
}

@media (min-width: 1024px) {
  footer {
    font-size: var(--font-size-subtitle-desktop);
  }
}
