@use "../../utilities/mixins";

.contact {
  padding: 1.25rem;
  margin: 3rem;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("./../assets/contact.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
}

.contact__heading {
  color: var(--secondary-50);
  text-align: center;
  margin-bottom: 1.25rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container__error-message {
  color: var(--primary-50);
  font-weight: var(--font-weight-title-desktop);
}

@media (max-width: 1050px) {
  .contact__heading {
    @include mixins.font(--font-size-menu-mobile, --font-weight-menu-mobile);
  }
}

@media (min-width: 1051px) {
  .contact__heading {
    @include mixins.font(--font-size-menu-desktop, --font-weight-menu-desktop);
  }
}
