@use "../../utilities/mixins";

.login {
  padding: 1.25rem;
  margin: 3rem;
  margin-bottom: 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("./../assets/login.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
  box-sizing: border-box;
}

.login__heading {
  color: var(--secondary-50);
  text-align: center;
  margin-bottom: 1.25rem;
}

.button.primary {
  margin-top: 6.25rem;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__links {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.links__list {
  display: block;
  width: 100%;
  font-family: var(--heading-font-family);
  text-decoration: none;
  margin: 0 0.5rem;
  align-items: center;
  list-style-type: none;
}

.list_link {
  color: var(--secondary-50);
}

.error-message {
  color: var(--primary-50);
  font-weight: var(--font-weight-title-desktop);
}

@media (max-width: 1050px) {
  .login__heading {
    @include mixins.font(--font-size-menu-mobile, --font-weight-menu-mobile);
  }

  .links__list {
    display: flex;
    flex-direction: column;
    @include mixins.font(
      --font-size-normal-mobile,
      --font-weight-normal-mobile
    );
  }

  .links__list {
    margin-top: 0.5rem;
  }
}

@media (min-width: 1051px) {
  .login__heading {
    @include mixins.font(--font-size-menu-desktop, --font-weight-menu-desktop);
  }

  .links__list {
    display: flex;
    justify-content: space-between;
    @include mixins.font(
      --font-size-normal-desktop,
      --font-weight-normal-desktop
    );
  }
}
