.character-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;

  &__header {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    @media (min-width: 1051px) {
      flex-direction: row;
    }

    .character-page__image {
      max-width: 400px;
      width: 100%;
      object-fit: cover;
      border-radius: 8px;
      flex-shrink: 0;
      aspect-ratio: 1/1.5;
    }

    .character-page__info {
      display: flex;
      flex-direction: column;
      flex: 1;

      .character-page__title {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      p {
        margin: 1rem;
      }

      .character-page__buttons {
        display: flex;
        margin-top: 1rem;
        gap: 1rem;

        @media (max-width: 1050px) {
          flex-direction: column;
        }
      }
    }
  }

  &__ranking {
    display: flex;
    margin-bottom: 2rem;

    p {
      margin: 1rem;
    }
  }

  &__content-row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: column;

    @media (min-width: 1051px) {
      flex-direction: row;
    }

    .character-page__synopsis,
    .character-page__background,
    .character-page__anime,
    .character-page__manga {
      flex: 1;
      margin: 0;

      p {
        margin: 1rem;
      }
    }
  }

  &__characters {
    .character-page__character-list {
      display: grid;
      gap: 1rem;

      @media (min-width: 1051px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 1050px) {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media (min-width: 1051px) {
  .character-page {
    min-height: 79.1vh;
  }
}

@media (min-width: 1921px) {
  .character-page {
    min-height: 82.85vh;
  }
}
