@use "../../utilities/mixins";

.manga-info-card {
  display: flex;
  flex-direction: column;
  width: 24rem;
  height: 24rem;
  margin: auto;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  cursor: pointer;
}

.manga-info-card__section {
  display: flex;
  flex-direction: row;
}

.manga-info-card__info {
  display: flex;
  flex-direction: column;
}

.manga-info-card__image {
  flex: 0 0 50%;
  width: 100%;
  height: 16rem;
  min-width: 12rem;
  object-fit: cover;
}

.manga-info-card__content {
  flex: 1;
  display: flex;
  min-width: 12rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--secondary-300);
  color: var(--primary-800);
  height: 16rem;
}

.manga-info-card__title {
  padding: 3rem;
  background-color: var(--primary-800);
  color: var(--secondary-50);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.manga-info-card__title--dark {
  background-color: var(--neutral-900);
}

.manga-info-card__valoration,
.manga-info-card__details {
  padding: 1rem;
}

.manga-info-card__valoration {
  background-color: var(--primary-800);
  color: var(--secondary-50);
  margin: 0.5rem 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.manga-info-card__add {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: var(--primary-800);
  color: var(--secondary-50);
}

.add__button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 1rem;
}

.manga-info-card__content--dark {
  background-color: var(--neutral-700);
  color: var(--secondary-50);
}

.manga-info-card__add--dark {
  background-color: var(--neutral-900);
  color: var(--secondary-50);
}

.manga-info-card__valoration--dark {
  background-color: var(--neutral-900);
}

@media (max-width: 1050px) {
  .manga-info-card {
    width: 20rem;
    height: 23rem;
  }

  .manga-info-card__image,
  .manga-info-card__content {
    min-width: 10rem;
  }

  .manga-info-card__title .manga-info-card__valoration {
    @include mixins.font(
      --font-size-subtitle-mobile,
      --font-weight-subtitle-mobile
    );
  }

  .manga-info-card__content {
    @include mixins.font(
      --font-size-normal-mobile,
      --font-weight-normal-mobile
    );
  }

  .details__title {
    font-weight: var(--font-weight-subtitle-mobile);
  }
}

@media (min-width: 1051px) {
  .manga-info-card__title,
  .manga-info-card__valoration {
    @include mixins.font(
      --font-size-subtitle-desktop,
      --font-weight-subtitle-desktop
    );
  }

  .manga-info-card__content {
    @include mixins.font(
      --font-size-big-normal-desktop,
      --font-weight-big-normal-desktop
    );
  }

  .details__title {
    font-weight: var(--font-weight-subtitle-desktop);
  }
}
