.input-container {
  margin-bottom: 1rem;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

legend {
  color: var(--secondary-50);
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: var(--font-size-subtitle-desktop);
  font-weight: var(--font-weight-subtitle-desktop);
  font-family: var(--heading-font-family);
  display: block;
}

.input {
  padding: 0.625rem;
  border: 0.0625rem solid var(--neutral-200);
  border-radius: 0.25rem;
  width: 100%;
  margin-top: 0.3125rem;
  background-color: var(--neutral-50);
  color: var(--primary-800);
  transition: all 0.3s ease;
  box-sizing: border-box;
  font-size: var(--font-size-big-normal-desktop);
  font-weight: var(--font-weight-big-normal-desktop);
  font-family: var(--heading-font-family);
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

textarea {
  min-height: 12.5rem;
}

.input-error {
  border-color: var(--primary-500);
}

.error-message {
  font-size: 0.75rem;
  margin-top: 0.3125rem;
  color: var(--primary-700);
}

.label-dark {
  color: var(--dark-text);
}

.input:focus {
  outline: none;
  border-color: var(--primary-300);
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-password {
  position: absolute;
  top: 33%;
  right: 0.625rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--primary-800);
}

.toggle-password:hover {
  color: var(--primary-400);
}

.toggle-password:focus {
  outline: none;
}

@media (max-width: 1023px) {
  .input {
    font-size: var(--font-size-normal-mobile);
    font-weight: var(--font-weight-normal-mobile);
  }

  legend {
    font-size: var(--font-size-subtitle-mobile);
    font-weight: var(--font-weight-subtitle-mobile);
  }
}
