@use "../../utilities/mixins";

.input-container {
  margin-bottom: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.input-container__legend {
  color: var(--secondary-50);
  margin-left: 0.5rem;
  padding: 0 0.5rem;
  @include mixins.font(
    --font-size-subtitle-desktop,
    --font-weight-subtitle-desktop
  );
  font-family: var(--heading-font-family);
}

.input-container__field {
  padding: 0.625rem;
  border: 0.0625rem solid var(--neutral-200);
  border-radius: 0.25rem;
  width: 100%;
  margin-top: 0.3125rem;
  background-color: var(--neutral-50);
  color: var(--primary-800);
  @include mixins.transition;
  box-sizing: border-box;
  @include mixins.font(
    --font-size-big-normal-desktop,
    --font-weight-big-normal-desktop
  );
  font-family: var(--heading-font-family);
}

.input-container__field--textarea {
  min-height: 12.5rem;
}

.input-container__field--error {
  border-color: var(--primary-500);
}

.input-container__error-message {
  font-size: 0.75rem;
  margin-top: 0.3125rem;
  color: var(--primary-700);
}

.input-container__field--focus:focus {
  outline: none;
  border-color: var(--primary-300);
}

.input-container__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container__toggle-password {
  position: absolute;
  top: 33%;
  right: 0.625rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--primary-800);
}

.input-container__toggle-password:hover {
  color: var(--primary-400);
}

.input-container__toggle-password:focus {
  outline: none;
}

@media (max-width: 1050px) {
  .input-container__field {
    @include mixins.font(
      --font-size-normal-mobile,
      --font-weight-normal-mobile
    );
  }

  .input-container__legend {
    @include mixins.font(
      --font-size-subtitle-mobile,
      --font-size-subtitle-mobile
    );
  }
}
