@use "../../utilities/mixins";

.termsAndConditions {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 4rem;
  color: var(--secondary-50);
}

.termsAndConditions__checkbox {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.termsAndConditions__error-message {
  color: var(--primary-50);
  margin-top: 0.5rem;
}

@media (max-width: 1050px) {
  .termsAndConditions__error-message {
    @include mixins.font(
      --font-size-normal-mobile,
      --font-weight-normal-mobile
    );
  }
}

@media (min-width: 1051px) {
  .termsAndConditions__error-message {
    @include mixins.font(
      --font-size-normal-desktop,
      --font-weight-normal-desktop
    );
  }
}
